.movie-item {
  min-width: 180px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 4px;
}
.movie-picture {
  width: 180px;
  height: 270px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
