.movie-list-container {
  margin: 10px 40px;
}

.more-to-explore {
  color: lightgray;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}

.search-page-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}
