/*updated*/
.category-list-container {
  position: relative;
  margin-bottom: 2rem;
}

.category-list-title {
  margin-bottom: 1rem;
  color: inherit;
}

.movies-row {
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  padding-left: 40px;
  padding-right: 40px;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: white;
  padding: 0.3rem;
  transition: background-color 0.2s ease;
}

.arrow-left {
  left: 5px;
}

.arrow-right {
  right: 5px;
}

.arrow-icon:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .arrow-icon:hover {
    background-color: #4d4d4d;
  }
}
